<%- include('./base/header.ejs') %>
<%- include('./base/nav.ejs') %>

<style>
    body{
    background: #2125298a;
  }
    .btn{
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.322);
  transition: all 0.4s;
    }
    .btn:hover{
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.568);
        transition: all 0.4s; 
    }
    .heading{
    color: aliceblue;
    }
    .logo{
        position: relative;
        border-radius: 50%;
        
    }
    
</style>
    <!-- <h1 >Student has been added !!</h1> -->
     <div class="container">
        <div class="alert text-center bg-dark my-3">
            <h5 class="heading">Student List</h5>   
        </div>
     </div>
     <div class="container">
        <table class="table text-center">
            <thead>
                <tr>
                    <th>StudentPhoto</th>
                    <th>S.No</th>
                    <th>RollNo</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Father Name</th>
                    <th>Mother Name</th>
                    <th>Course</th>
                    <th>Branch</th>
                    <th>YearOfAddmission</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <%  students.forEach((student, index) =>{ %>
                    <tr>
                        <td><img src="<%= student.studentImage %>" alt="studentImage"  width="70px" height="70px" class="logo" ></td>
                        <td><%= index + 1 %></td>
                        <td><%= student.rollNo %></td>
                        <td><%= student.studentName %></td>
                        <td><%= student.email %></td>
                        <td><%= student.fatherName %></td>
                        <td><%= student.motherName %></td>
                        <td><%= student.course %></td>
                        <td><%= student.branch %></td>
                        <td><%= student.yearOfAddmission %></td>
                        <td>
                            <a href="/edit/student/page/<%= student._id %>" class="btn">Edit</a>
                            <a href="/delete/student/<%= student._id %>" class="btn">Delete</a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
     </div>



<%- include('./base/footer.ejs') %>
